{% extends "investimentos/base.html" %}

{% block content %}
  <div class="max-w-xl mx-auto bg-gray-800 p-6 rounded-2xl shadow-xl text-center">
    <h2 class="text-2xl font-bold mb-6 text-white">Resultado da Simulação</h2>

    <p class="text-lg text-gray-200 mb-6">
      Valor futuro do investimento: <strong class="text-white text-2xl">R$ {{ valor_futuro }}</strong>
    </p>

    <div class="space-y-4">
      <a href="/simulacao/" class="block bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium py-2 px-4 rounded shadow hover:shadow-md transition">
        Nova Simulação
      </a>
      <a href="/historico/" class="block bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium py-2 px-4 rounded shadow hover:shadow-md transition">
        Histórico de Simulações
      </a>
    </div>
  </div>
{% endblock %}
